{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ecommerce - {% block site_title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        {% include 'base/base_css.html' %}
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class=" d-flex  justify-content-end my-2">
                {% if user.is_authenticated %}
                    <p class="text-faded mx-2">Bem vindo: {{ user }}</p>
                    <a class="mx-2" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="mr-3" href="{% url 'login' %}">Login </a>
                    <a class="mr-3" href="{% url 'register' %}">Registrar</a>
                {% endif %}
            </div>
        </header>
        
        <!-- Navigation-->
        {% include 'base/navbar.html' with brand="Ecommerce django" %}
        <section class="page-section clearfix">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        {% include 'base/base_js.html' %}
    </body>
</html>
